*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	background-color: #444;
	background-image: url("Image/mecque_blanc.jpg");
	background-repeat: no-repeat;
	background-repeat: repeat-y;
	background-size: 100%;
}
.quizz{
	width: 70%;
	height: 500px;
	border: 2px solid #444;
	border-radius: 14px;
	background-image: url("Image/coran_2.jpg");
	background-repeat: no-repeat;
	background-size: 100%;
}
.time{
	width: 150px;
	height: 10vh;
	float: right;
}
.temps_h{
	font-size: 29px;
	background: red;
}
.temps_m{
	font-size: 29px;
	background: yellow;
}
.temps_s{
	font-size: 29px;
	background: green;
}
p{
	width: 200px;
	padding-top: 50px;
	font-weight: bold;
	font-size: 25px;
}
input{
	font-size: 30px;
}
.question{
	width: 300px;
	height: 45vh;
	border: 1px solid wheat;
	border-radius: 20%;
}
#prev{
	position: absolute;
	left: 190px;
	top: 45%;
	width: 50px;
	font-size: 25px;
	cursor: pointer;
}
#next{
	position: absolute;
	right: 190px;
	top: 45%;
	font-size: 25px;
	width: 50px;
	cursor: pointer;

}
button[type="submit"]{
	cursor: pointer;
	display: none;
}
/*adapter l'affichage en fonction de la taille de l'ecran*/
@media screen and (max-width: 670px){
	#prev{
		position: absolute;
		left:92px;
		top: 25%;
	}
	#next{
		position: absolute;
		right: 92px;
		top: 25%;
	}
	p{
		color: blue;
	}
	h3{
		background: blue;
		color: white;
	}
	.time{
		visibility: hidden;
	}
}

@media only screen and (min-width: 670px) and (max-width: 1080px){
	#prev{
		position: absolute;
		left:92px;
		top: 25%;
	}
	#next{
		position: absolute;
		right: 92px;
		top: 25%;
	}
	p{
		color: red;
	}
	h3{
		background: white;
		color: red;
	}
}